[submodule "themes/hugo_theme_robust"]
	path = themes/hugo_theme_robust
	url = https://github.com/dim0627/hugo_theme_robust.git
[submodule "themes/themes/academic"]
	path = themes/themes/academic
	url = https://github.com/gcushen/hugo-academic.git
[submodule "themes/academic"]
	path = themes/academic
	url = https://github.com/gcushen/hugo-academic.git
